.articles-list {
    &__content {
        margin-bottom: 80px;
        &--link {
            text-decoration: none;
            font-family: "ComicJens";
        }
        &__product {
            box-shadow:  0px 0px 13px 4px rgb(252,225,188);
            display: flex;
            color: black;
            &__picture {
                & > img {
                    width: 80%;
                    height: 80%;
                }
            }
            &__feature {
                padding: 0 20px 0 10px;
                & h3 {
                    font-weight: 700;
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .articles-list {
        min-width: 350px;
        width: 90%;
        &__title {
            font-size:  1.1em;
        }
        &__content {
            text-align: center;
            font-size: 1.2em;
            padding: 0 5px;
            &__product {
                flex-direction: column;
                &__picture {
                    padding-top: 15px;
                     width: 100%;
                }
                &__feature {
                    margin: auto;
                    width: 90%;
                    padding: 0 0 0 10px;
                }
            }
        }
    }
}