.order {
    &__products-order {
        &__reference {
            font-size: 0.7em;
            color: black;
            margin-top: 0;
        }
        &__products-list {
            &__product {
                &__image--resum {
                    text-align: left;
                    & > img {
                        vertical-align: middle;
                        width: 100%;
                    }
                }
                &__name--resum {
                    width: 30%;
                    font-size: 1.2em;
                    font-weight: 700;
                }
                &__lenses--resum {
                    width: 30%;
                    font-size: 1em;
                }
                &__price--resum {
                    width: 20%;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: brown;
                }
            }
        }
    }
    &__customer-informations {
        &__infos-user {
            &__name--resum {
                display: flex;
                & > div {
                    display: flex;
                    padding: 30px 15px 10px 15px;
                    & span:nth-last-of-type(1) {
                        color: brown;
                    }
                }
            }
            &__address--resum {
                display: flex;
                & > div {
                    display: flex;
                    padding: 10px 10px;
                    & span:nth-last-of-type(1) {
                        color: brown;
                    }
                }
            }
            &__email--resum {
                padding: 10px 15px 30px 15px;
                text-align: center;
                & span:nth-last-of-type(1) {
                    color: brown;
                }
            }
        }
    }
}