.articles-list, .article {
    font-family: "ComicJens";
    min-width: 750px;
    width: 50%;
    margin: auto;
    &__title {
        font-size: 1.5em;
        text-align: center;
    }
    &__content {
        box-shadow:  0px 0px 13px 4px rgb(221,191,215);
        &__product__picture, &__picture {
            width: 50%;
            @include centerRow;
        }
        &__product__feature, &__feature {
            width: 50%;
            display: flex;
            flex-direction: column;
            text-align: left;
        }
    }
}

.order {
    font-family: "ComicJens";
    min-width: 750px;
    width: 50%;
    margin: auto;
    &__title {
        font-size: 1.5em;
        text-align: center;
    }
    &__products-order {
        box-shadow:  0px 0px 13px 4px rgb(243,233,241);
        display: flex;
        flex-direction: column;
        &__title {
            font-size: 1.5em;
            color: brown;
            text-align: left;
            background-color: rgb(243,233,241);
            padding: 10px 5px;
        }
        &__products-list {
            &__product {
                text-align: center;
                box-shadow:  0px 0px 13px 4px rgb(243,233,241);  
            }
        }
        &__cost-order {
            font-size: 1.25em;
            padding: 15px 5px;
            background-color: rgb(243,233,241);
            color: brown;
        }
    }  
    &__customer-informations {
        box-shadow:  0px 0px 13px 4px rgb(243,233,241);
        margin-top: 5px;
        &__title {
            font-size: 1.5em;
            background-color: rgb(243,233,241);
            color: brown;
            padding: 10px 5px;
        }
        &__infos-user {
            font-size: 1.4em;
        }
    }
}

#error {
    color: red;
    margin-bottom: 4em;
}

@media only screen and (min-width: 551px) and  (max-width: 750px) {
    .order {
        min-width: 360px;
        width: 80%;
        &__title {
            font-size: 1.2em;
        }
        &__products-order {
            &__title {
                font-size: 1.4em;
            }
            &__cost-order {
                font-size: 1.2em;
            }
        }   
        &__customer-informations {
            &__title {
                font-size: 1.4em;
            }
            &__infos-user {
                font-size: 1.25em;
            }
        }
    }
} 

@media only screen and (max-width: 550px) {
    .order {
        min-width: 360px;
        &__title {
            font-size: 1.1em;
        }
        &__products-order {
            &__title {
                font-size: 1.3em;
            }
            &__cost-order {
                font-size: 1.2em;
            }
        }   
        &__customer-informations {
            &__title {
                font-size: 1.3em;
            }
            &__infos-user {
                font-size: 1.3em;
               
            }
        }
    }
} 

