body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "ComicJens";
  src: url("../Polices/ComicJens.ttf");
}
.header {
  background-color: #f3e9f1;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.header > div:nth-of-type(1) > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > div:nth-of-type(2) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header__logo {
  padding-top: 5px;
}
.header__title {
  padding: 10px 0 10px 0;
  margin: 0;
  font-family: "ComicJens";
  font-size: 2.5em;
  background: linear-gradient(160deg, #e58a0b 0%, #925d92 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__cart {
  width: 50%;
}
.header__nbProduct {
  font-size: 3em;
  color: black;
}

@media only screen and (max-width: 750px) {
  .header {
    padding: 0px;
  }
  .header__logo {
    width: 100%;
  }
  .header__title {
    font-size: 1.5em;
  }
  .header__cart {
    width: 35%;
  }
  .header__nbProduct {
    font-size: 2em;
  }
}
.footer {
  background-color: #f3e9f1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  font-family: "ComicJens";
  position: fixed;
  bottom: 0;
}
.footer > a {
  padding: 10px 5px 5px 5px;
}

@media only screen and (max-width: 750px) {
  .footer {
    font-size: 1.3em;
  }
}
.articles-list, .article {
  font-family: "ComicJens";
  min-width: 750px;
  width: 50%;
  margin: auto;
}
.articles-list__title, .article__title {
  font-size: 1.5em;
  text-align: center;
}
.articles-list__content, .article__content {
  box-shadow: 0px 0px 13px 4px #ddbfd7;
}
.articles-list__content__product__picture, .articles-list__content__picture, .article__content__product__picture, .article__content__picture {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles-list__content__product__feature, .articles-list__content__feature, .article__content__product__feature, .article__content__feature {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.order {
  font-family: "ComicJens";
  min-width: 750px;
  width: 50%;
  margin: auto;
}
.order__title {
  font-size: 1.5em;
  text-align: center;
}
.order__products-order {
  box-shadow: 0px 0px 13px 4px #f3e9f1;
  display: flex;
  flex-direction: column;
}
.order__products-order__title {
  font-size: 1.5em;
  color: brown;
  text-align: left;
  background-color: #f3e9f1;
  padding: 10px 5px;
}
.order__products-order__products-list__product {
  text-align: center;
  box-shadow: 0px 0px 13px 4px #f3e9f1;
}
.order__products-order__cost-order {
  font-size: 1.25em;
  padding: 15px 5px;
  background-color: #f3e9f1;
  color: brown;
}
.order__customer-informations {
  box-shadow: 0px 0px 13px 4px #f3e9f1;
  margin-top: 5px;
}
.order__customer-informations__title {
  font-size: 1.5em;
  background-color: #f3e9f1;
  color: brown;
  padding: 10px 5px;
}
.order__customer-informations__infos-user {
  font-size: 1.4em;
}

#error {
  color: red;
  margin-bottom: 4em;
}

@media only screen and (min-width: 551px) and (max-width: 750px) {
  .order {
    min-width: 360px;
    width: 80%;
  }
  .order__title {
    font-size: 1.2em;
  }
  .order__products-order__title {
    font-size: 1.4em;
  }
  .order__products-order__cost-order {
    font-size: 1.2em;
  }
  .order__customer-informations__title {
    font-size: 1.4em;
  }
  .order__customer-informations__infos-user {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 550px) {
  .order {
    min-width: 360px;
  }
  .order__title {
    font-size: 1.1em;
  }
  .order__products-order__title {
    font-size: 1.3em;
  }
  .order__products-order__cost-order {
    font-size: 1.2em;
  }
  .order__customer-informations__title {
    font-size: 1.3em;
  }
  .order__customer-informations__infos-user {
    font-size: 1.3em;
  }
}
.order__products-order__reference {
  font-size: 0.7em;
  color: black;
  margin-top: 0;
}
.order__products-order__products-list__product__image--resum {
  text-align: left;
}
.order__products-order__products-list__product__image--resum > img {
  vertical-align: middle;
  width: 100%;
}
.order__products-order__products-list__product__name--resum {
  width: 30%;
  font-size: 1.2em;
  font-weight: 700;
}
.order__products-order__products-list__product__lenses--resum {
  width: 30%;
  font-size: 1em;
  padding: 10px 0;
}
.order__products-order__products-list__product__price--resum {
  width: 20%;
  font-size: 1.2em;
  font-weight: 700;
  color: brown;
}
.order__customer-informations__infos-user {
  padding: 30px 50px;
  text-align: left;
}
.order__customer-informations__infos-user__name--resum {
  display: flex;
}
.order__customer-informations__infos-user__name--resum > div {
  display: flex;
  padding: 0 10px;
}
.order__customer-informations__infos-user__name--resum > div span:nth-last-of-type(1) {
  color: brown;
}
.order__customer-informations__infos-user__address--resum {
  display: flex;
}
.order__customer-informations__infos-user__address--resum > div {
  display: flex;
  padding: 0 10px;
}
.order__customer-informations__infos-user__address--resum > div span:nth-last-of-type(1) {
  color: brown;
}
.order__customer-informations__infos-user__email--resum {
  padding: 0 10px;
}
.order__customer-informations__infos-user__email--resum span:nth-last-of-type(1) {
  color: brown;
}

.infos-user-display {
  display: block;
  padding: 30px 20px;
  text-align: left;
}

@media only screen and (max-width: 750px) {
  .order__customer-informations__infos-user__name--resum {
    display: flex;
    flex-direction: column;
  }
  .order__customer-informations__infos-user__address--resum {
    display: flex;
    flex-direction: column;
  }
  .order__customer-informations__infos-user__email--resum {
    display: flex;
    padding: 0 10px;
  }
  .order__customer-informations__infos-user__email--resum > label {
    text-align: left;
  }
}
.order__products-order__products-list__product__image--cart {
  text-align: left;
}
.order__products-order__products-list__product__image--cart > img {
  vertical-align: middle;
  width: 100%;
}
.order__products-order__products-list__product__name--cart {
  width: 20%;
  font-size: 1.2em;
  font-weight: 700;
}
.order__products-order__products-list__product__lenses--cart {
  width: 20%;
  font-size: 1em;
}
.order__products-order__products-list__product__price--cart {
  width: 20%;
  font-size: 1.2em;
  font-weight: 700;
  color: brown;
}
.order__products-order__products-list__product__delete--cart {
  text-align: center;
  width: 20%;
}
.order__products-order__products-list__product__delete--cart > img {
  width: 20%;
  vertical-align: middle;
}
.order__customer-informations__infos-user__name--cart {
  display: flex;
}
.order__customer-informations__infos-user__name--cart > div {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
.order__customer-informations__infos-user__address--cart {
  display: flex;
}
.order__customer-informations__infos-user__address--cart > div {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
.order__customer-informations__infos-user__email--cart {
  padding: 30px 10px;
  text-align: center;
}
.order__customer-informations__infos-user__email--cart ~ button {
  background-color: brown;
  margin-bottom: 1em;
  color: white;
  text-decoration: none;
  font-size: 1em;
}
.order__customer-informations__infos-user input {
  font-size: 0.8em;
}

.form-user-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 551px) and (max-width: 750px) {
  .order__products-order__products-list__product__image--cart > img {
    width: 100%;
    height: 5%;
  }
  .order__products-order__products-list__product__name--cart {
    padding: 30px 0;
  }
  .order__products-order__products-list__product__delete--cart {
    width: 15%;
  }
  .order__products-order__products-list__product__delete--cart > img {
    width: 40%;
  }
  .order__customer-informations__infos-user__email--cart button {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 550px) {
  .order__products-order__products-list__product__image--cart {
    width: 0%;
  }
  .order__products-order__products-list__product__image--cart > img {
    width: 0%;
  }
  .order__products-order__products-list__product__name--cart {
    padding: 20px 0;
  }
  .order__products-order__products-list__product__delete--cart > img {
    width: 40%;
  }
  .order__customer-informations__infos-user__name--cart {
    display: flex;
    flex-direction: column;
  }
  .order__customer-informations__infos-user__address--cart {
    display: flex;
    flex-direction: column;
  }
  .order__customer-informations__infos-user__email--cart {
    display: flex;
    flex-direction: column;
  }
  .order__customer-informations__infos-user__email--cart > label {
    text-align: left;
  }
}
.article__content {
  display: flex;
  color: black;
}
.article__content__picture > img {
  width: 80%;
  height: 50%;
}
.article__content__feature {
  font-size: 1.25em;
  padding: 20px 20px 20px 10px;
}
.article__content__feature > h3 {
  font-weight: 900;
}
.article__content__feature > #lentilles {
  color: brown;
  font-size: 0.9em;
  font-family: "ComicJens";
  width: 70%;
}

#article__validation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  background-color: #f3e9f1;
  box-shadow: 0px 0px 13px 4px #ddbfd7;
}
#article__validation > button {
  padding: 10px 0;
  margin: 30px 10px;
  font-size: 1em;
  width: 40%;
  font-family: "ComicJens";
}
#article__validation__come-back {
  background-color: black;
}
#article__validation__come-back > a {
  text-decoration: none;
  color: black;
  color: white;
}
#article__validation__cart {
  background-color: brown;
  color: white;
}
#article__validation__cart:disabled {
  background-color: grey;
}

@media only screen and (max-width: 750px) {
  .article {
    min-width: 350px;
    width: 90%;
  }
  .article__title {
    font-size: 1.1em;
  }
  .article__content {
    text-align: center;
    flex-direction: column;
    padding: 0 5px;
  }
  .article__content__picture {
    padding-top: 15px;
    width: 100%;
  }
  .article__content__feature {
    margin: auto;
    width: 90%;
    padding: 0 0 0 10px;
  }
}
.articles-list__content {
  margin-bottom: 80px;
}
.articles-list__content--link {
  text-decoration: none;
  font-family: "ComicJens";
}
.articles-list__content__product {
  box-shadow: 0px 0px 13px 4px #fce1bc;
  display: flex;
  color: black;
}
.articles-list__content__product__picture > img {
  width: 80%;
  height: 80%;
}
.articles-list__content__product__feature {
  padding: 0 20px 0 10px;
}
.articles-list__content__product__feature h3 {
  font-weight: 700;
}

@media only screen and (max-width: 750px) {
  .articles-list {
    min-width: 350px;
    width: 90%;
  }
  .articles-list__title {
    font-size: 1.1em;
  }
  .articles-list__content {
    text-align: center;
    font-size: 1.2em;
    padding: 0 5px;
  }
  .articles-list__content__product {
    flex-direction: column;
  }
  .articles-list__content__product__picture {
    padding-top: 15px;
    width: 100%;
  }
  .articles-list__content__product__feature {
    margin: auto;
    width: 90%;
    padding: 0 0 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
