body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "ComicJens";
  src: url("../Polices/ComicJens.ttf");
}
.header {
  background-color: #f3e9f1;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.header > div:nth-of-type(1) > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > div:nth-of-type(2) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header__logo {
  padding-top: 5px;
}
.header__title {
  padding: 10px 0 10px 0;
  margin: 0;
  font-family: "ComicJens";
  font-size: 2.5em;
  background: linear-gradient(160deg, #e58a0b 0%, #925d92 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__cart {
  width: 50%;
}
.header__nbProduct {
  font-size: 3em;
  color: black;
}

.footer {
  background-color: #f3e9f1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  font-family: "ComicJens";
  position: fixed;
  bottom: 0;
}
.footer > a {
  padding: 10px 5px 5px 5px;
}

.order {
  margin-bottom: 4em;
}
.order__title {
  font-family: "ComicJens";
  font-size: 1.5em;
  text-align: center;
}
.order__table-order {
  box-shadow: 0px 0px 13px 4px #f3e9f1;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}
.order__customer-informations {
  box-shadow: 0px 0px 13px 4px #f3e9f1;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.table-order {
  box-shadow: 0px 0px 13px 4px #ddbfd7;
}
.table-order__title {
  font-size: 1.5em;
  font-family: "ComicJens";
  color: brown;
  text-align: center;
  background-color: #f3e9f1;
  padding: 10px 5px;
}
.table-order__products-list {
  font-family: "ComicJens";
}
.table-order__cost-order {
  font-family: "ComicJens";
  font-size: 1.25em;
  padding: 10px 5px;
  background-color: #f3e9f1;
  color: brown;
}

.products-list {
  text-align: center;
  box-shadow: 0px 0px 13px 4px #f3e9f1;
}
.products-list__image {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-list__image > img {
  width: 100%;
  height: auto;
}
.products-list__name {
  width: 20%;
  font-size: 1.2em;
  font-weight: 700;
}
.products-list__lenses {
  width: 20%;
  font-size: 1em;
}
.products-list__price {
  width: 20%;
  font-size: 1.2em;
  font-weight: 700;
}
.products-list__delete {
  width: 20%;
}
.products-list__delete > img {
  width: 20%;
  height: auto;
}

.customer-informations__title {
  font-size: 1.5em;
  font-family: "ComicJens";
  background-color: #f3e9f1;
  color: brown;
  padding: 0px 5px;
}
.customer-informations__infos-user {
  font-family: "ComicJens";
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infos-user__name {
  display: flex;
}
.infos-user__name > div {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
.infos-user__address {
  display: flex;
}
.infos-user__address > div {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
.infos-user__email {
  padding: 30px 10px;
  text-align: center;
}
.infos-user__email ~ button {
  font-family: "ComicJens";
  font-size: 1.2em;
  background-color: brown;
  color: white;
  margin-bottom: 1em;
}

.content-product-customize {
  display: flex;
}
.content-product-customize__picture {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-product-customize__picture--product {
  width: 80%;
  height: 40%;
}
.content-product-customize__feature {
  font-size: 1.25em;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "ComicJens";
  padding: 50px 20px 20px 10px;
}
.content-product-customize__feature > h3 {
  color: brown;
}
.content-product-customize__feature > div {
  display: flex;
  justify-content: center;
}
.content-product-customize__feature > div > button {
  padding: 10px 0;
  margin: 0 5px 0 5px;
  font-size: 0.8em;
  width: 40%;
  font-family: "ComicJens";
}
.content-product-customize__feature > div > button > a {
  text-decoration: none;
  color: black;
}
.content-product-customize__feature > #lentilles {
  color: brown;
  font-size: 0.9em;
  font-family: "ComicJens";
  width: 70%;
}

.articles-list {
  width: 50%;
  margin: auto;
}
.articles-list__title {
  font-family: "ComicJens";
  font-size: 1.5em;
  text-align: center;
}
.articles-list__content {
  box-shadow: 0px 0px 13px 4px #ddbfd7;
  margin-bottom: 80px;
}
.articles-list__content > a {
  text-decoration: none;
}

.content-product {
  box-shadow: 0px 0px 13px 4px #fce1bc;
  display: flex;
  color: black;
}
.content-product__picture {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-product__picture--accueil {
  width: 80%;
  height: 80%;
}
.content-product__feature {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "ComicJens";
  padding: 0 20px 0 10px;
}

/*# sourceMappingURL=style.css.map */
